<!DOCTYPE>
<html>
  
  <head>
    <title>Endangered Species Profiles</title>
    <br>
    <!--<h1><center>    Endangered Species Profiles</center></h1>-->
    <!--<h3><center>   August 2018 </center></h3>-->
  </head>
  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
a:link {
    color: darkgrey;
    background-color: lightgrey;
    text-decoration: none;
}
a:visited {
    color: ;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: ;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: ;
    background-color: transparent;
    text-decoration: underline;
}
  
  /* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('https://www.kickassfacts.com/wp-content/uploads/2016/11/panda-1.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("https://www.philadelphiazoo.org/getattachment/615d4cd2-81f8-4f0b-972a-5443e47233bf/AmurLeopard_08.aspx");
    min-height: 400px;
  
  #http://r.ddmcdn.com/s_f/o_1/cx_483/cy_0/cw_1396/ch_1396/w_720/APL/uploads/2015/11/amur-leopard-FRONT-PAGE.jpg
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/2r/r8/p02rr85r.jpg");
    min-height: 400px;
}

  
  /* fourth image (Portfolio) */
.bgimg-4{
    background-image: url("http://r.ddmcdn.com/s_f/o_1/cx_483/cy_0/cw_1396/ch_1396/w_720/APL/uploads/2015/11/amur-leopard-FRONT-PAGE.jpg");
    min-height: 400px;
}
  
  .w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}
  
  </style>
  <body>
<div class = "center1">
  
     <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <h1 class = "center1"><center> Endangered Species Profiles</center></h1>
    <h3 class = "center1"> <center> August 2018 </center> </h3>
      <center><p>There are countless endangered species internationally that are facing extinction. Review the animal 
      profiles below to see the animals that Save the Species is working to save. 
 </p></center> <br><br>
    


   
      <!-- Second Parallax Image with Portfolio Text -->

<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">AMUR LEOPARDS</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-paddin-64" id="portfolio">
  <h3 class="w3-center">Panthera pardas orientalis</h3>
  <p>In 2000 it was recorded that about 30 Amur Leopards were left living in Southwestern Russia</p>
  <br> 
  <p class="para">There are many reasons why the amur leopards have become endagered.</p>
    <ul>
      <li>Poaching</a></li> 
      <li>Habitat Loss</li> 
      <li>Rapid Industrialization</li>
      <li>Heavily Depleated Prey</li>
    </ul>
    <p> When it became clear that leopards were in extreme danger, action had to be taken. Researcherst considered having leopards captured and kept in captivety to preserve the depleted population.<br> In 2012 an establishment was made. Land of the Leopards National Park; 647000 acres reserved for leapords. <br> In 2016 land underneath a major highway was reserved as means to improve leopard migration. <br>As of April 2018, there are a reported 84 adults and 19 cubs.</p>
  <p class="w3-center"><em></em></p><br>
  <center><a href="/q_index"></a></center>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-moal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>
      
      
      <!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">Giant Pandas</span>
  </div>
</div>
      
<!-- Container (Contact Section) -->
<div class="w3-content w3-container"  id="contact">
  <h3 class="w3-center">Ailuropoda melanoleuca</h3>
  <br>
                       <p> Gansa, Shaanxi and the Sichuan provinces, these are some of the only mountains where one can find most of the remaining Giant Pandas.<br> There are two different types of Giant Pandas: Sichuan and Qinling. The Qinling giant pandas face the greatest threat of extinction with only 350 pandas on record. <br> In September 2016, the International Union for the Conservation of Nature announced that giant pandas were downgraded from "endangered" to "vulnerable". Unfortuanley Giant Pandas continue to face great risk. Road construction, noise production and the transmission of disease have continued to threaten Giant Pandas. <br> Road construction disrupts the growth of bamboo. Bamboo shutes only bloom once then die, this has made it difficult for Giant Pandas to source the food that they need. <br> Tourists' noise increases stress on these gentle giants. Along with tourism, comes disease. Pandas are susceptible to contracting diseases from domesticated animals. </p>
      
      
      </div>
  </body>

</html>