<!DOCTYPE>
<html>
  <head>
    <title>Animal Quiz</title> 
    <link rel="stylesheet" href="css/quiz.css">
    
  </head>
  <body>
    <center>
      <br>
      <br>
    <div class = "input"> 
    <br>
    <br>
    <div class = "survey_title">
    <br>
    <span id="title">TAKE THE SURVEY</span>
    <br>
    <br>
    </div>
    <br>
    <br>
    <br>
    <form method=POST>
      
      <h3>Have you ever been informed on endangered species?</h3>
        <input type="radio" name="species" value="yes"> Yes <br>
        <input type="radio" name="species" value="no"> No <br>
      
      <h3>Do you recycle?</h3>
        <input type="radio" name="recycle" value="yes"> Yes<br>
        <input type="radio" name="recycle" value="no"> No <br>
     
      <h3>Would you say you have a lot of free time?</h3>
      <input type="radio" name="free_time" value="yes"> Yes <br>
      <input type="radio" name="free_time" value="yes"> No <br>
     
      <h3>Do you hunt?</h3> 
      <input type="radio" name="hunt" value="yes"> Yes <br>
      <input type="radio" name="hunt" value="no"> No <br>
      
      <h3>Do you have a garden?</h3>
      <input type="radio" name="garden" value="yes"> Yes <br>
      <input type="radio" name="garden" value="no"> No <br> <br> <br>
      
      <input type="submit" value="All Done!">
      <br>
      <br>
      <br>
      </div>
    </form>
    </center>
  </body>
</html>