<!DOCTYPE html>
<html>
    <head>
         <title>Animal Quiz</title>
             <link rel="stylesheet" href = "css/quiz.css">
        </head>
        <body class = "results_background">
            <br>
            <br>
            <br>
            <br>
            <br>
            <center>
            <div class = "survey_title">
                <br>
                <span id="title">HOW YOU CAN HELP</span>
                <br>
                <br>
                </div>
                </center>
            <!--<center><span class="quiz_title"> YOUR PERSONALIZED RESULTS </span></center>-->
            <br>
            <br>
            <div class = "results_text">
            <h3 class="message"> <br>
            <center><%=@message%> </h3></center>
            <br>
            </div>
            
        </body>
</html>